<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="green-mountain.css" />
    <title>Green Mountain Energy</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="#">Contact Us</a>
        <a href="#">Blog</a>
        <form>
          <input placeholder="Search here..." />
          <button>Q</button>
        </form>
        <button class="my-account">MY ACCOUNT</button>
      </nav>
    </header>
    <main>
      <nav>
        <div class="left">
          <img src="https://picsum.photos/200/75" class="logo" />
        </div>
        <div class="right">
          <a href="#">For Home</a>
          <a href="#">For Business</a>
          <a href="#">For Customers</a>
          <a href="#">Why Green</a>
          <a href="#">Our Story</a>
          <a href="#">Sun Club&reg;</a>
        </div>
      </nav>
      <section id="welcome">
        <h2>Power Your adventures.</h2>
        <h2>Power your home.</h2>
        <p>Tap into nature with 100% clean electricity.</p>
        <div id="welcome-buttons">
          <a href="#" class="welcome-button">
            <div class="text">
              I have a home.
              <small>View plans in your area.</small>
            </div>
            <div class="go">&gt;</div>
          </a>
          <a href="#" class="welcome-button">
            <div class="text">
              I have a business.
              <small>Get a quote.</small>
            </div>
            <div class="go">&gt;</div>
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
