<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="lorem-ipsum.css" />
    <title>Lorem Ipsum</title>
  </head>
  <body>
    <!-- lightly copied from https://codepen.io/adriangyuricska/pen/bNXaBj -->
    <nav>
      <a href="#" class="primary">Home</a>
      <a href="#" class="primary">Approach</a>
      <a href="#" class="primary">Work</a>
      <a href="#" class="primary">People</a>
      <a href="#" class="secondary">Jobs</a>
      <a href="#" class="secondary">Blog</a>
      <a href="#" class="secondary">Contact</a>
    </nav>
    <section id="content">
      <main>
        <div>
          <h1>Lorem ipsum dolor</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
            sodales diam et felis congue tempor. Vivamus tristique velit sit
            amet consequat mollis. Aliquam lectus dolor, porta vitae convallis
            sit amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
            efficitur lacus luctus at. Suspendisse volutpat eget odio
            ullamcorper volutpat. Donec pulvinar, nunc ut posuere vehicula,
            ipsum dui scelerisque erat, in euismod ligula odio dapibus odio. Sed
            pharetra enim lacus, ut fringilla urna posuere eu. In libero neque,
            placerat quis auctor sit amet, maximus vel sapien. Vestibulum id
            tortor mi.
          </p>
        </div>
      </main>
      <footer></footer>
    </section>
  </body>
</html>
