<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="responsive-flexbox-article.css" />
    <title>Responsive Flexbox Article Listing</title>
  </head>
  <body>
    <!-- from https://codepen.io/jondaiello/pen/wWWmNB -->
    <header>
      <h1>Responsive Flexbox Article Listing</h1>
      <p>
        Flexbox is an amazingly powerful layout tool. In this example I have
        created a responsive grid of articles that increased the amount of
        visible articles on the page at larger resolutions.
      </p>
    </header>
    <main>
      <article class="headline">
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at. Suspendisse volutpat eget odio ullamcorper
          volutpat. Donec pulvinar, nunc ut posuere vehicula, ipsum dui
          scelerisque erat, in euismod ligula odio dapibus odio. Sed pharetra
          enim lacus, ut fringilla urna posuere eu. In libero neque, placerat
          quis auctor sit amet, maximus vel sapien. Vestibulum id tortor mi.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at.
        </p>
        <a href="#">Read More</a>
      </article>
      <article>
        <h3>Article Title Here</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          sodales diam et felis congue tempor. Vivamus tristique velit sit amet
          consequat mollis. Aliquam lectus dolor, porta vitae convallis sit
          amet, lacinia et nunc. Nullam scelerisque turpis sem, porttitor
          efficitur lacus luctus at.
        </p>
        <a href="#">Read More</a>
      </article>
    </main>
  </body>
</html>
