body.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eee;
}

main {
  display: flex;
  flex: 1;
}

article {
  flex: 1;

  background-color: #fff;
  padding: 2em;
}

nav,
aside {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  padding: 1em;
}

header {
  padding-left: 14em;
}
footer {
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav ul li {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #abe32b;
  background-color: #abe32b;
}

nav a {
  color: #041;
  text-decoration: none;
}
