<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .answerArea {
        border: 2px solid blue;
        padding: 20px;
        margin: 20px;
        font-size: 30pt;
      }
    </style>
    <title>Using JavaScript</title>
  </head>
  <body>
    <div id="app1">
      <h1>My web page Vue #1</h1>
      <p>Hello, and welcome to my web page. It's so nice of you to visit me here.</p>
      <p>Do you like fish sticks?</p>

      <button @click="show = 'yes'">Yes</button>
      <button @click="show = 'no'">No</button>

      <div class="answerArea" v-if="show === 'yes'">
        <p>I like fish sticks too!</p>
      </div>
      <div class="answerArea" v-if="show === 'no'">
        <p>I don't like fish sticks. I prefer chicken.</p>
      </div>
    </div>

    <script src="lib/vue.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          show: null,
        }),
      }).mount("#app1");
    </script>
  </body>
</html>
